.top
{
    background-color:#02314b;
    color: whitesmoke;
    width:100%;
    height:12vmin;
}

.icon
{
    float:left;
    border-radius:50%;
    height: 10vmin;
    width: 10vmin;
    margin:1vmin 3vmin;
}

.name
{
    font-size: 6vmin;
    text-align:left;
    padding: 2vmin;
    font-family:Helvetica;
}