.container
{
    padding: 0px;
    width:100%;
    height: 88vh;
}

#chatboard
{
    width: 100%;
    height:100%;
    padding-top: 2vmin;
    padding-bottom: 13vmin;
    overflow: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#chatboard::-webkit-scrollbar
{
    width: 2vmin;
}

#chatboard::-webkit-scrollbar-track {
    background:  rgba(61, 59, 59, 0.377); 
}

#chatboard::-webkit-scrollbar-thumb
{
    background: black;
}

.msgarea
{
    flex-direction: column;
    overflow: hidden;
    width:100%;
    margin:1vmin 0vh;
}

.textarea
{
    flex-wrap:wrap;
    font-size:15px;
    font-family:Helvetica;
    margin-left:3vmin;
    margin-right: 30vw;
    padding:1vh 2vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align:left;
    background-color:whitesmoke;
    float:left;
    color:black;
}

#bot
{
    animation: fadein 1s;
}

.usertext
{
    margin-left:30vw;
    margin-right:3vmin;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 0px;
    background-color: #02314b;
    color: whitesmoke;
    float: right;
}

.timespan
{
    font-size:10px;
    font-family:Helvetica;
    float:right;
}

.textenter
{
    position: absolute;
    bottom: 0px;
    background-color: whitesmoke;
    border: none;
    height:10vmin;
    width:100%;
    padding:2vmin;
}

.enter
{
    width: 90%;
    height:6vmin;
    border: none;
    float:left;
    padding:2vmin;
    font-size: 15px;
}

.glyphicon
{
    background-color: whitesmoke;
    border: none;
    color:grey;
    width:8%;
    margin-left: 1vw;
    float:left;
    height:6vmin;
    font-size: 20px;
}

@media (hover: hover) {
    .glyphicon:hover 
    {
        color: black;
    }
}

@keyframes fadein
{
    0%
    {
        height: 0px;
        width: 0px;
        opacity: 0;
    }
    100%
    {
        height: 0px;
        width: 0px;
        opacity: 0;
    }
}