.faq
{
    margin-top: 0px;
    padding: 20vh 5vw;
    background-color: #02314b;
    height: 100vh;
    width: 100%;
    color: whitesmoke;
    text-align: center;
}

#txt
{
    font-size: 6vh;
}

.login
{
    height: 30vh;
    width: 46vh;
    text-align: left;
    padding: 3vh;

}

#label
{
    float: left;
    padding-top: 2vmin;
}

#in
{
    width: 100%;
    height: 5vh;
    padding: 10px;
    color: black;
}

#btnsend
{
    margin-top: 2vh;
    float: right;
    background-color: whitesmoke;
    color: #02314b;
    border: none;
    height: 5vh;
    width: 15vh;
    font-size: 2vh;
    border-radius: 5px;
}

#status
{
    margin-top: 2vh;
    float: left;
}